<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindConfig" transactionFlow="true">
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyBehavior" name="CodeStudyWcfServiceWAS.User">
        <endpoint address="" binding="netTcpBinding" contract="CodeStudyWcfServiceWAS.IUser" bindingConfiguration="netTcpBindConfig"></endpoint>
        <!--元数据交换的终结点-->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" ></endpoint>


      </service>
      
    </services>
    
     <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior" >
          <serviceMetadata  httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel> 

</configuration>
